<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="manifest" href="./app.webmanifest">
  <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
  <link rel="shortcut icon" href="#">
  <title>YoungHealth</title>
</head>
<body>
  <a tabindex="0" href="#maincontent" class="skip-link">Menuju ke konten</a>
  <header class="header">
    <app-bar></app-bar>
  </header>
  
  <main tabindex="0" id="maincontent">
  </main>
  
  <app-footer></app-footer>

  <script src="https://accounts.google.com/gsi/client" async defer></script>
</body>
</html>